/* State Awal: Opacity 0 dan Geser Bawah 50px */
.from-bottom {
  opacity: 0;
  transform: translateY(100px);
  transition: all 1s ease-out;
  /* Durasi 1 detik sesuai request */
}

/* State Saat Terlihat di Layar: Opacity 100 dan Posisi Normal */
.from-bottom.active {
  opacity: 1;
  transform: translateY(0);
}